/* styles/ProductDetail.module.css */

.productDetailContainer {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #fff;
    display: flex;
    align-items: center;
    gap: 20px; /* Espace entre l'image et les détails */
}
.productDiscount {
    font-size: 1em;
    color: #d32f2f;
    margin-bottom: 5px;
    text-align: left;
}
.productTitle {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
}

.productImageContainer {
    flex: 1; /* Prend une part de l'espace disponible */
    max-width: 500px; /* Largeur maximale pour l'image */
}
.productDetails {
    flex: 2; /* Prend deux parts de l'espace disponible */
    padding: 20px;
}
.productDescription {
    font-size: 1.2rem;
    color: #666;
    line-height: 1.6;
    margin-bottom: 20px;
}

.productPrice {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

.quantitySelector {
    display: flex;
    width: 175px;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
    background-color: #f7f7f7;
    border: 2px solid #ddd;
    border-radius: 10px;
    overflow: hidden; /* Empêche les bordures des boutons internes de dépasser */
}

.quantitySelector button {
    padding: 10px 15px;
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    color: #333;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.quantitySelector button:hover {
    background-color: #eaeaea;
}

.quantitySelector input {
    width: 20%;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    border: none; /* Supprime la bordure par défaut */
    background-color: transparent;
    outline: none; /* Supprime la mise en évidence lors de la sélection */
}

.purchaseButton {
    display: block;
    width: 100%;
    padding: 15px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.purchaseButton:hover {
    background-color: #0056b3;
}

/* Responsive design adjustments */
@media (max-width: 768px) {
    .productDetailContainer {
        flex-direction: column;
        align-items: center;
    }
    .productImageContainer, .productDetails {
        max-width: 100%;
        width: 100%;
    }

    .productTitle {
        text-align: center;
        font-size: 2rem;
    }

    .productPrice {
        font-size: 1.3rem;
    }

    .quantitySelector button,
    .purchaseButton {
        padding: 10px 15px;
        font-size: 1rem;
    }
}
